button {
    width: 150px;
    height: 50px;
    background-color: rgb(0, 106, 255);
    border: 7px solid black;
    border-radius: 5px;
  }

  .current {
    border: 2px solid black;
    border-radius: 5px;
    background-color: bisque;
    margin: auto;
  }
  
 .five-days {
    border: 2px solid black;
    border-radius: 5px;
    background-color: aqua;
    margin: auto;
 }